@model IEnumerable<LaptopStoreProject.Models.User>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}




<p>
    <a asp-action="Create" style="margin-right:5px;" class="btn btn-success">Create New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId" style="margin-right:5px;" class="btn btn-info">Edit</a> <br/>
                    <a asp-action="Details" asp-route-id="@item.UserId" style="margin-right:5px;" class="btn btn-warning">Details</a><br/>
                    <a asp-action="Delete" asp-route-id="@item.UserId" style="margin-right:5px;" class="btn btn-secondary">Delete</a><br/>
            </td>
        </tr>
}
    </tbody>
</table>
